* {
    padding: 0;
    margin: 0;
    font-size: 15px;
    box-sizing: border-box;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root {
    --black : rgb(34, 34, 34);
    --grey : rgb(67, 66, 66);
    --light-grey: rgb(243, 239, 224);
    --red: rgb(218, 0, 55);
}
html::-webkit-scrollbar {
    width: 12px;
    background-color: rgb(0, 0, 0);
}
html::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: black;
    border: 1px solid rgb(26, 81, 93);
}
html::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: rgb(200,28,133);
    background: linear-gradient(180deg, rgba(34,163,159,1) 0%, rgba(0,160,201,1) 100%);
}
a {
    text-decoration: none;
    color: white;
}
body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1.2fr 5fr;
    overflow-y: scroll;
    overflow-x: hidden;
}
.sidebar {
    background: linear-gradient(90deg, rgba(34,163,159,1) 0%, rgba(0,160,201,1) 100%);
    color: white;
    padding: 15px;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}
header {
    display: grid;
    align-items: end;
    grid-template-columns: 1fr 4fr;
}
header > a > h2 {
    margin-left: 10px;
    font-size: 1.5rem;
}
.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}
.menu > .top-menu {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(6, 35px);

    align-items: center;
}
.menu > .bottom-menu {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(3, 35px);
}
li {
    list-style-type: none;
}
.content {
    background: rgb(34,34,34);
    background: linear-gradient(117deg, rgba(34,34,34,1) 0%, rgba(0,0,0,1) 100%);
    color: white;
    display: grid;
    grid-template-rows: 50px 80px auto;
}
.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px 10px;
    position: sticky;
    top: 0px;

    background-color: var(--light-grey);
    color: black;
}
.search-bar {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    align-items: center;
}
.search-bar > input {
    width: 30%;
    height: 30px;
    margin-left: 20px;
    outline: none;
    border: 2px solid var(--light-grey);
    background-color: rgb(196, 196, 196);
    color: var(--black);
    border-radius: 50px;
    text-indent: 20px;
    transition: all 0.2s;
}
.search-bar > input:focus {
    width: 70%;
    border: 2px solid var(--light-grey);
    border-right: 2px solid var(--red);
    border-left: 2px solid var(--red);
}
.mini-profil > a {
    color: var(--black);
    font-size: 1.1rem;
}
.mini-profil {
    display: flex;
    gap: 25px;
    align-items: center;
}
.mini-profil > img {
    border-radius: 50%;
}
.profil-nav {
    display: grid;
    grid-template-columns: auto repeat(3, 100px);
    padding: 10px 50px 10px;
    column-gap: 25px;

    background-color: var(--light-grey);
    color: black;
}
.profil {
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
}
.profil > img {
    grid-row: 1/3;
    border-radius: 50%;
}
.profil > p {
    font-size: 0.7rem;
    align-self: end;
}
.profil > h3 {
    font-weight: bold;
    font-size: 1.1rem;
}
.profil-nav > button {
    border-radius: 50px;
    align-self: center;
    background-color: var(--red);
    border: none;
    padding: 10px 20px 10px;
    color: white;
    transition: all 0.3s;
}
.profil-nav > button:hover {
    background-color: rgb(152, 7, 7);
    cursor: pointer;
}
.main-content {
    display: grid;
    grid-template-columns: 6fr 2fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 20px;

    margin: 20px;
}
.projects {
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-rows: 20px ;
    gap: 20px;
}
.projects > h3 {
    grid-column: 1/-1;
}
.project {
    display: grid;
    grid-template-rows: auto 30px;
    gap: 5px;

    background-color: var(--light-grey);
    color: black;
    padding: 20px;
    border-radius: 5px;
    transition: all 0.2s;
}
.project:hover {
    background-color: rgb(255, 255, 255);
}
.project:hover .project-text > h4 {
    color: var(--red);
}
.project-text > h4 {
    color: black;
    font-weight: bold;
    margin-bottom: 4px;
    transition: all 0.2s;
}
.project-text > p {
    font-style: italic;
    font-weight: 100;
    color: var(--grey);
    font-size: 0.9rem;
}
.project-menu {
    display: flex;
    justify-self: end;
    align-items: center;
}
.project-menu > img {
    box-sizing: content-box;
    padding: 10px;
    transition: all 0.2s;
}
.project-menu > img:hover {
    border-radius: 50%;
    background-color: var(--light-grey);
}
.anc-section {
    display: grid;
    grid-template-rows: 30px auto;
    gap: 9px;
}
.anc {
    display: grid;
    grid-template-rows: 1fr 1px 1fr 1px 1fr;
    gap: 10px;
    border-radius: 5px;

    background-color: var(--light-grey);
    color: black;
    padding: 25px;
    margin: 0px 5px 10px;
}
.anc > .line {
    background-color: rgb(181, 181, 181);
}
.anc > h3 {
    grid-column: 1/-1;
}
.announce > h4 {
    margin-bottom: 4px;
    font-weight: bold;
}
.announce > p {
    font-size: 0.8rem;
    color: var(--grey);
    font-weight: 100;
}
.trending-section {
    display: grid;
    grid-template-rows: 30px auto;
}
.trending {
    display: grid;
    grid-template-rows: repeat(4, 1fr);

    background-color: var(--light-grey);
    color: black;
    padding: 10px;
    margin: 0px 5px 10px;
}